<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.FileMapper">

    <insert id="addUser" parameterType="java.util.Map">
        insert into user(acount,nickName,emil,age,createtime,isheadpacticre,ssex,phone,extendjson,passworld)
        values (#{acount},#{nickName},#{emil},#{age},#{createtime},
        #{isheadpacticre},#{ssex},#{phone},#{extendjson},#{passworld})
    </insert>

    <!--<insert id="addUser" parameterType="java.util.List">-->
        <!--insert into user(acount,nickName,emil,age,createtime,isheadpacticre,ssex,phone,extendjson,passworld)-->
        <!--values-->
        <!--<foreach collection="list" item="user" index="index" separator=",">-->
            <!--#{acount},#{nickName},#{user.emil},#{user.age},#{user.createtime},-->
            <!--#{user.isheadpacticre},#{user.ssex},#{user.phone},#{user.extendjson},#{user.passworld}-->
        <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteStudent">
        delete from user where code in
        <foreach collection="list" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </delete>

</mapper>