<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.FileMapper">

    <insert id="addUser" parameterType="java.util.Map">
        insert into user(acount,nickName,emil,age,createtime,isheadpacticre,ssex,phone,extendjson,passworld)
        values (#{params.acount},#{params.nickName},#{params.emil},#{params.age},#{params.createtime},
        #{params.isheadpacticre},#{params.ssex},#{params.phone},#{params.extendjson},#{params.passworld})
    </insert>

</mapper>