<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.UserMapper">

    <select id="getAllUser"  resultType="User">
        select *
        from user
    </select>

    <!-- 通过acount精准查询 -->
    <select id="getUserInfoByAcount" parameterType="String" resultType="User">
        select *
        from user
        where acount=#{acount}
    </select>

    <!-- 多条件模糊查询的totalCount -->
    <select id="getUserInfoCount" resultType="int">
        select count(*)
        from user
        where 1=1
        <if test="params.acount != null and params.acount.trim() != ''">
            and acount like concat(concat('%',#{params.acount}),'%')
        </if>
        <if test="params.nickName !=null and params.nickName.trim() !='' ">
            and nickName like concat(concat('%',#{params.nickName}),'%')
        </if>
        <if test="params.age !=null and params.age.trim() !='' ">
            and age like concat(concat('%',#{params.age}),'%')
        </if>
        <if test="params.emil !=null and params.emil.trim() !='' ">
            and emil like concat(concat('%',#{params.emil}),'%')
        </if>
        <if test="params.createtime !=null and params.createtime.trim() !='' ">
            and createtime like concat(concat('%',#{params.createtime}),'%')
        </if>
        <if test="params.ssex !=null and params.ssex.trim() !='' ">
            and ssex like concat(concat('%',#{params.ssex}),'%')
        </if>
        <if test="params.phone !=null and params.phone.trim() !='' ">
            and phone like concat(concat('%',#{params.phone}),'%')
        </if>
    </select>

    <!-- 多条件模糊查询带分页 -->
    <select id="getUserInfoByCondition"  resultType="java.util.Map">
        select *
        from user
        where 1=1
        <if test="params.acount != null and params.acount.trim() != ''">
            and acount like concat(concat('%',#{params.acount}),'%')
        </if>
        <if test="params.nickName !=null and params.nickName.trim() !=''">
            and nickName like concat(concat('%',#{params.nickName}),'%')
        </if>
        <if test="params.age !=null and params.age.trim() !='' ">
            and age like concat(concat('%',#{params.age}),'%')
        </if>
        <if test="params.emil !=null and params.emil.trim() !='' ">
            and emil like concat(concat('%',#{params.emil}),'%')
        </if>
        <if test="params.createtime !=null and params.createtime.trim() !=''">
            and createtime like concat(concat('%',#{params.createtime}),'%')
        </if>
        <if test="params.ssex !=null and params.ssex.trim() !='' ">
            and ssex like concat(concat('%',#{params.ssex}),'%')
        </if>
        <if test="params.phone !=null and params.phone.trim() !='' ">
            and phone like concat(concat('%',#{params.phone}),'%')
        </if>
          limit #{params.start},#{params.pageSize}

    </select>

    <insert id="insertStudent" parameterType="java.util.Map">
        insert into user(acount,nickName,emil,age,createtime,isheadpacticre,ssex,phone,extendjson,passworld)
        values (#{params.acount},#{params.nickName},#{params.emil},#{params.age},#{params.createtime},
        #{params.isheadpacticre},#{params.ssex},#{params.phone},#{params.extendjson},#{params.passworld})
    </insert>

    <delete id="deleteStudent">
        delete from user where code in
        <foreach collection="list" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </delete>

</mapper>